@import '~@skyscanner/bpk-foundations-web/tokens/base.default.scss';

button {
  all: unset;
}

.HotelCard {
  position: relative;
  margin-bottom: .5rem;
}

.Gallery {
  height: 120px;
  width: 100%;
  background: gray;
  border-radius: .75rem .75rem 0 0;
  position: relative;
}

.CardContent {
  padding: 1rem;
}

.Headline {
  display: flex;
  justify-content: space-between;
}

.PriceContainer {
  display: flex;
  justify-content: flex-end;
}

.CardLink {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: .75rem;

  a::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: .75rem;
  }
}

.CardLink:focus-within, .SaveButton:focus-within {
  outline: .125rem solid #0062e3;
  outline-offset: .125rem;
}

.SaveButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 10;
  border-radius: 50%;
}