@import '~@skyscanner/bpk-foundations-web/tokens/base.default.scss';
@import '~@skyscanner/backpack-web/bpk-mixins/index.scss';

.App {
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}